.card-search {
    margin-bottom: 30px;
}

/*
================================================================================
|                                Custom Select                                 |
================================================================================
*/
.b-custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none; 
    width: 100%;
}

.b-custom-select-wrapper select {
    display: none;
}

.b-custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}

.b-custom-select-trigger {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    padding: .31rem 1.2rem .37rem;
    font-size: 12px;
    border-radius: 15px;
    border: solid 1px #e1e1e1;
    color: #9b9b9b;
    transition: all .2s ease-in-out;
    
    &:hover {
        border-color: #652d90;
        color: #652d90;
        
        &::after {
            border-color: #652d90;
        }
    }
}

.b-custom-select.opened .b-custom-select-trigger {
    border-color: #652d90;
    color: #652d90;
}

.b-custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 7px;
    height: 7px;
    top: 50%;
    right: 15px;
    margin-top: -2px;
    border-bottom: 1px solid #9b9b9b;
    border-right: 1px solid #9b9b9b;
    transform: rotate(45deg) translateY(-50%);
    transition: all .2s ease-in-out;
    transform-origin: 50% 0;
}

.b-custom-select.opened .b-custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
    border-color: #652d90;
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    margin: 15px 0;
    box-sizing: border-box;
    background: #fff;
    border: none;
    box-shadow: 0 2px 20px 0 rgba(175,178,179,.5);
    border-radius: 14px;
    transition: all .2s ease-in-out;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    z-index: -1;
}

.b-custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
    z-index: 99;
}

.custom-options:before {
    position: absolute;
    content: '';
    bottom: 100%;
    right: 25px;
    transition: all .2s ease-in-out;
    
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #ffffff transparent;
}

.option-hover:before {
    background: #f9f9f9;
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 22px;
    border-bottom: 1px solid #e1e1e1;
    color: #9b9b9b;
    font-size: 13px;
    font-weight: 600;
    line-height: 2.4;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.custom-option:first-of-type {
    border-radius: 15px 15px 0 0;
}

.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 15px 15px;
}

.custom-option:hover,
.custom-option.selection {
    background: #f5f5f5;
}


/*
================================================================================
|                                Filters-card                                  |
================================================================================
*/
.filters-card {
    margin-bottom: 1.875rem;
    
    .card-body {
        padding: 2rem 1.4rem; 
    }
    
    .btns {
        @include d-flex;
        @include justify-content(space-between);
    }
    
    .btn {
        margin-top: 1.5rem;
    }
    
    .btn-outline-secondary.custom-secondary {
        font-size: 12px;
        line-height: 1.5;
        padding: .31rem .75rem .37rem;
        color: #9b9b9b;
        border-color: #e1e1e1;
        width: 100px;
        
        &:hover {
            color: #652d90;
            border-color: #652d90;
        }
    }
}
