header {
    .navbar {
        padding: 0rem 1rem;
        box-shadow: 0 2px 40px 0 rgba(175, 178, 179, 0.05);
    }
    
    .nav-link {
        display: block;
        padding: 1rem;
    }
    
    .navbar-nav {
        @include align-items(center);
        font-size: 0.6875rem;
        line-height: 1;
        margin-bottom: 2px;
    }
    
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 1.45rem 1.25rem;
        border-bottom: 2px solid transparent;
        margin-bottom: -2px;
        
        &:hover {
            border-color: #652d90;
        }
    }
    
    .btn-wrp {
        margin-left: 0.875rem;
        
        &.first {
            margin-left: 2.1875rem;
        }
    }
}