.main-card {
    .card-body {
        padding: 0.9rem 0 1rem;
    }
    
    .title-wrapper {
        @include align-items(center);
        margin-bottom: 1.05rem;
    }
    
    .title {
        font-size: 1.6rem;
        letter-spacing: .4px;
        color: #555555;
        margin: 0;
    }
    
    .logo {
        position: absolute;
        top: -8px;
        left: 25px;
        display: inline-block;
        width: 75px;
        height: 75px;
    }
    
    section {
        padding-left: 120px;
        padding-right: 30px;
        
        .top {
            position: relative;
        }
        
        &.top {
            .nav {
                justify-content: space-between;
            }
        }
        
        .btn.btn-outline-secondary {
            min-width: 15%;
            max-width: 15%;
            font-size: 12px;
            font-family: Oxygen;
            letter-spacing: .05rem;
            padding: 5px 15px;
            color: #555;
            text-overflow: ellipsis;
            border-color: #e1e1e1;
            transition: .2s;
            
            &:hover {
                box-shadow: 0 3px 12px 0 rgba(175,178,179,.35);
            }
            
            &:active,
            &:focus {
                color: #fff;
                background-color: #652d90;
                
                i {
                    color: #fff;
                }
            }
            
            i {
                font-size: 14px;
                color: #555;
            }
            
            &.active {
                color: #fff;
                text-overflow: initial;
                max-width: 100%;
                overflow: initial;
                position: relative;
                
                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 122%;
                    transform: translateX(-50%) rotate(45deg);
                    width: 10px;
                    height: 10px;
                    background: #fff;
                    border-top: solid 1.5px #ebebeb;
                    border-left: solid 1.5px #ebebeb;
                }
                
                i {
                    color: #fff;
                }
            }
        }
    }
    
    .card-text {
        font-size: 12px;
        font-family: Oxygen;
        
        & > .top {
            margin-top: 1.1rem;
            margin-bottom: .6rem;
        }
        
        & > .bottom {
            @include d-flex;
            @include align-items(center);
            margin-bottom: .5rem;
        }
    }
    
    section.middle {
        padding-right: 0;
        font-size: 0.875rem;
    }
}