/* header */
@media screen and (max-width:768px) {
    .navbar-nav li {
        width: 100%;
        text-align: center;
        &.btn-wrp {
            margin-left: 0;
            margin-bottom: 0.5rem;
            &.first {
                margin-top: 0.5rem;
            }
         
        }
    }
    
}